langchain==0.3.15
langchain_community==0.3.15
langchain_core==0.3.31
langchain_openai==0.3.2
python-dotenv==1.0.1
streamlit==1.37.1
beautifulsoup4==4.12.3
faiss-cpu==1.9.0.post1
fuzzywuzzy==0.18.0
certifi>=2024.2.2
pydantic<2.0
